.navbar-inner {
	background-image: linear-gradient(rgb(255, 255, 255), #CCCCCC);
}

.nav-icon {
	width:24px;
}

.post-image {
	width:250px;
}

.customer-image {
	width:250px;	
	margin-bottom: 100px;
}

.carousel-caption {
    text-align: center;
}

.carousel-caption h2 {
    color: white;
    font-size: 3em;
}

.number-circle {
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    border-radius: 999px;
    behavior: url(PIE.htc);

    width: 36px;
    height: 36px;
    padding: 8px;

    background: #fff;
    border: 2px solid #666;
    color: #666;
    text-align: center;

    font: 32px Arial, sans-serif
}