.navbar-inner {
	background-image: linear-gradient(rgb(255, 255, 255), #CCCCCC);
}

.nav-icon {
	width:24px;
}

.post-image {
	width:250px;
}

.customer-image {
	width:250px;	
	margin-bottom: 100px;
}