---
layout: layout
title: "Flightwatching"
---

<div id="myCarousel" class="carousel slide">
  <!-- Carousel items -->
  <div class="carousel-inner">
{% for post in site.posts %}
    {% if post.categories contains 'carousel' %}
    <div class="{{post.class}} item">
      <div class="text-center">
        <img src="{{post.image}}" width="100%" alt="" />
      </div>
      <div class="carousel-caption">
        <h4>{{post.title}}</h4>
        <p>{{post.content}}</p>
      </div>
    </div>
    {% endif %}
{% endfor %}
    </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>

<div class="container">

<div class="row-fluid">
  <ul class="thumbnails">
  {% for f in site.posts %}
    {% if f.categories contains 'featured' %}
    <li class="span4">
      <div class="thumbnail">
        <img  src="{{f.image}}">
        <div class="caption">
          <h3>{{f.title}}</h3>
          <p>{{f.content}}</p>
          <p><a href="{{site.baseurl }}contact.html" class="btn btn-primary">Learn more</a></p>
        </div>
      </div>
    </li>
    {% endif %}
  {% endfor %}
    <li class="span4">
      <div class="thumbnail">
        <img  src="{{site.baseurl }}img/icons/event.png">
        <div class="caption" id="events">
          <h3>Events to come</h3>
          {% for f in site.posts %}
            {% if f.categories contains 'event' %}
            
            <span class="badge {% if f.date > site.time %}badge-important{% endif %}">
              {{f.date | date: "%b %d" }}
            </span>
            <small>{{f.content}}</small>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </li>
  </ul>
</div>
</div>


