---
layout: layout
title: "Flightwatching news"
---
	<div class="hero-unit">
		<div class="row-fluid">
			<div class="span2">
				<img class="img-rounded hidden-phone" src="{{site.baseurl }}img/300x300/VHF-panel.jpg">
			</div>
			<div class="span10">
				<H2><img src="{{site.baseurl }}img/icons/speech-bubble.png"> 
					Flightwatching news
				</H2>
				<p>Insights from Flightwatching team into our products, technology, and the story of our company</p>
			</div>
		</div>
	</div>
<div class="container">
  {% for f in site.posts %}
    {% if f.categories contains 'news' %}
    <div class="page-header">	
		<div class="row-fluid">
		    <div class="span1">
			    <img src="{{site.baseurl }}img/icons/newspaper.png">
			</div>
			<div class="span11">
				<h3><a href="{{f.url}}">{{f.title}}</a><br>
					<small>{{f.date | date: "%B %d, %Y" }}</small>
				</h3>
			</div>
		</div>
	</div>
		<div class="row-fluid">
		    <div class="span3 offset1">
			    <img class="img-polaroid" src="{{ site.baseurl }}{{f.image}}">
			    <small class="muted">{{f.caption}}</small>
			</div>
			<div class="span7">
				<p>{{f.content}}</p>
			</div>
		</div>
    {% endif %}
  {% endfor %}
</div>

