<section>
	<strong>Attributions</strong>
	<p><small>
	<a href="http://thenounproject.com/noun/trending/#icon-No5460" target="_blank">Trending</a> designed by <a href="http://thenounproject.com/Mikhail1986" target="_blank">Michael Rowe</a> from The Noun Project
	<br>
	<a href="http://thenounproject.com/noun/airplane-internet/#icon-No7777" target="_blank">Airplane Internet</a> designed by <a href="http://thenounproject.com/david.brossard" target="_blank">David Brossard</a> from The Noun Project
	</small>
	</p>
</section>