    <footer>
      <div class="container-fluid center-text-mobile">
        <div class="row">
          <div class="col-md-3">
            <h4>About <span class="logo">FlightWatching</span></h4>
            <p>Morbi et euismod odio. Integer nulla neque, porttitor eget interdum ac, tincidunt in nunc. Etiam nec mauris pharetra, volutpat lacus id.</p>
          </div>
          <div class="col-md-2 col-md-offset-1">
            <h4>About</h4>
            <ul class="link-list">
              <li><a href="#">Our history</a></li>
              <li><a href="#">Mission</a></li>
              <li><a href="#">Future</a></li>
              <li><a href="#">Our clients</a></li>
            </ul>
          </div>
          <div class="col-md-2">
            <h4>Navigate</h4>
            <ul class="link-list">
              <li><a href="#">Home</a></li>
              <li><a href="#">Pages</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </div>
          <div class="col-md-2">
            <h4>Privacy</h4>
            <ul class="link-list">
              <li><a href="#">Terms</a></li>
              <li><a href="#">Questions</a></li>
              <li><a href="#">Support</a></li>
              <li><a href="#">Stetement</a></li>
            </ul>
          </div>
          <div class="col-md-2">
            <h4>Links</h4>
            <ul class="link-list">
              <li><a href="#">Google</a></li>
              <li><a href="#">Facebook</a></li>
              <li><a href="#">Some other link</a></li>
              <li><a href="#">The best link</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <div class="container-fluid copyright">
      <div class="row">
        <div class="col-md-4">
          <span class="info">&copy; 2014 Flightwatching S.A.S</span>
        </div>
        <div class="col-md-8">
          <span class="info"><span class="fa fa-location-arrow"></span> 49 grand rue Saint Michel, 31400 Toulouse, France</span>
          <span class="info"><span class="fa fa-phone"></span> +33 (0)5 34 31 94 22</span>
        </div>
      </div>
    </div>
