<footer class="site-footer" role="banner">
  <div class="footer">
    <div class="left">
      <a href="{{site.url}}">
        <img class="logo" src="/assets/images/logo.svg">
      </a>
    </div>

    <ul>
      <li><a href="/contact.html" target="blank"><i class="fas fa-envelope"></i></a></li>
      <li><a href="https://www.linkedin.com/company/flightwatching" target="blank"><i class="fab fa-linkedin-in"></i></a></li>
      <li><a href="https://vimeo.com/flightwatching" target="blank"><i class="fab fa-vimeo-v"></i></a></li>
      <li><a href="https://twitter.com/flightwatching" target="blank"><i class="fab fa-twitter"></i></a></li>
    </ul>

    <div class="right">
      <img class="wings" src="/assets/images/wings.svg">
      <img class="wings" src="/assets/images/region.jpg">
    </div>

  </div>
</footer>
