    <footer>
      <div class="container-fluid center-text-mobile">
        <div class="row">
          <div class="col-md-3">
            <h4>About <span class="logo">FlightWatching</span></h4>
            <p>Flightwatching is reactive, flexible and expert in its domain</p>
          </div>
          <div class="col-md-2 col-md-offset-1">
            <h4>Links</h4>
            <ul class="link-list">
              <li><a href="/">Home</a></li>
              <li><a href="/contact.html">Contact</a></li>
            </ul>
          </div>
          <div class="col-md-2">
            <h4>Products</h4>
            <ul class="link-list">
              <li><a href="/wilco/index.html">WILCO</a></li>
              <li><a href="/checklist/index.html">Checklist</a></li>
            </ul>
          </div>
          <div class="col-md-2">
            <h4>Privacy</h4>
            <ul class="link-list">
              <li><a href="#">Terms & conditions</a></li>
              <li><a href="mailto:contact@flightwatching.com">Questions</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <div class="container-fluid copyright">
      <div class="row">
        <div class="col-md-4">
          <span class="info">&copy; 2014 Flightwatching S.A.S</span>
        </div>
        <div class="col-md-8">
          <span class="info"><span class="fa fa-location-arrow"></span> 49 grand rue Saint Michel, 31400 Toulouse, France</span>
        </div>
      </div>
    </div>
