<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
	<div class="container">
	  <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		<span class="icon-plus-sign"></span>
	  </a>
	  <div class="nav-collapse collapse">
		  <a class="brand"  href="{{ site.baseurl }}"><img height="50px" width="243px" src="{{ site.baseurl }}img/logo.png"></a>
		<ul class="nav">		  
		  <li id="home-nav" class="nav-li active">
			<a href="{{ site.baseurl }}"><i class="icon-home"></i> Home</a>
		  </li>
		  <li id="theysaid-nav" class="nav-li ">
			<a href="{{ site.baseurl }}theySaid/">
				<img class="nav-icon" src="{{site.baseurl }}img/icons/speech-bubble.png"> They said
			</a>
		  </li>
		  <li id="news-nav"  class="nav-li ">
			<a href="{{ site.baseurl }}news/">
				<img class="nav-icon" src="{{site.baseurl }}img/icons/newspaper.png"> News
			</a>
		  </li>
		  <li id="contact-nav" class="nav-li ">
			<a href="{{ site.baseurl }}contact.html"><img class="nav-icon" src="{{site.baseurl }}img/icons/boomset.png"> Contact</a>
		  </li>
		</ul>		
	  </div>
	</div>
  </div>
</div>
<div style="height:44px;"></div>