<div class="section section-black">
  <div class="wrapper">
    <h1 class="section-title">OUR PRODUCT : WILCO</h1>
    <div class="product">
      {% assign collec = site.product_features | sort: 'rank' %}
      {% for feat in collec %}
      <div class="feature-item">
        <div class="feature-name">
          <h4>{{ feat.name }}</h4>
          <div class="feature-content">
            {{ feat.content | markdownify }}
          </div>
        </div>
        <div class="feature-photo">
          <img src="/assets/images/features/{{feat.photo}}" alt="">
        </div>
      </div>
      {% endfor %}
    </div>

  </div>

</div>
