<div class="section">
  <h1 class="section-title">OUR TEAM   <small class="contactus-link"> <a href="contact.html">Contact us</a></small>
</h1>
  <div class="staff-thumbnails">
    {% assign sortedStaff = site.staff_members | sort: 'rank' %}
    {% for staff_member in sortedStaff %}
    <div class="staff-item">
      <div class="person-frame">
        <img class="person-photo" src="/assets/images/staff/{{staff_member.photo}}" alt="staff_member.name">
      </div>
      <p class="staff-name">{{ staff_member.name }}</p>
      <p class="staff-position">{{ staff_member.position }}</p>
      <p class="staff-resume"><a href="{{staff_member.url}}">{{staff_member.summary}}</a></p>

    </div>
    {% endfor %}
  </div>
</div>
