.achievements {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  overflow: auto;

  .achievement-item {
    flex: 1;
    max-width: 25vh;
    min-width: 150px;
    margin-top: 30px;
    padding: 25px 25px 0;
    display: flex;
    flex-flow: column;

    .achievement-logo {
      img {
        height: 5rem;
        filter: brightness(0%);
      }
      border-bottom: 2px solid $black;
    }

    .achievement-abstract {
      padding-top: 1rem;
      font-size: 0.7rem;
    }

    .read-more {
      a {
        color: $black;
        text-decoration: underline;
      }
    }
  }
}


.achievement {
  background-image: url("/assets/images/wings_bg.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  min-height: 20em;
  margin: 1vh auto;
  max-width: 1204px;
  opacity: 0.8;
  background-color: $black;
  .logo {
    filter: brightness(0) invert(1);
    margin-bottom: 10rem;
  }
  .description {
    padding: 10rem 2rem;
    color: $white;
    font-size: 1.2rem;
  }
}
