.contactus-link > a {
  color: #ccd300;
  font-size: 1rem;
  text-decoration: underline;
}

.staff {
  display: flex;
  background-image: url("/assets/images/wings_bg.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  flex-direction: column;
  .staff-header {
    margin: 10vh 10vh 0vh 10vh;
    .person-frame {

    }
    .person-description {
      text-align: left;
      justify-content: flex-start;
      vertical-align: bottom;
      .staff-name {
        font-family: "LetoSans";
        color: #ccd300;
        font-weight: 100;
      }

      .staff-position {
        color: #c7cbd0;
        display: block;
        font-weight: 400;
        text-decoration: underline;
      }
    }
  }

  .staff-resume {
    margin-left: 10vh;
    margin-right: 10vh;
    padding: 5vh;
    color: $white;
    opacity: 0.9;
    background-color: $blue;
  }
}

.staff-thumbnails {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  text-align: center;
  flex-flow: wrap;

  .staff-item {
    flex: auto;
    margin: 3em;

    .staff-name {
      font-family: "LetoSans";
      color: #ccd300;
      font-weight: 100;
    }

    .staff-position {
      color: #c7cbd0;
      display: block;
      font-weight: 400;
      text-decoration: underline;
    }

    .staff-resume {
      a {
        color: #c7cbd0;
        display: block;
        margin-top: -1em;
        font-size: 0.7rem;
        font-weight: 400;
        text-decoration: underline;
      }
    }
  }
}

.person-frame {
  margin: 0 auto;
  background: #CCC;
  width: 171.428px;
  height: 171.428px;
  border-radius: 100%;
  border: 3px solid #fff;

  .person-photo {
    border-radius: 100%;
    height: 100%;
    width: 100%;
  }
}
