
@font-face {
  font-family:"LetoSans";
  src: url("/assets/fonts/LetoSans.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family:"LetoSans";
  src: url("/assets/fonts/LetoSans-Thin.otf") format("opentype");
  font-weight: 100;
}

@font-face {
  font-family:"LetoSans";
  src: url("/assets/fonts/LetoSans-Bold.otf") format("opentype");
  font-weight: 600;
}

$leto: 'LetoSans';

$section-title-stroke: #dada18;
$black: #121316;
$blue: #4FB1B4;
$white: #FFF;
$bg: #1b1e2a;
$grey: #C7CBD0;
