<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="achievement">
        <div class="logo">
          <img src="/assets/images/achievements/{{page.logo}}" alt="">
        </div>
        <div class="results">
          <img src="/assets/images/achievements/{{page.results}}" alt="">
        </div>
        <div class="description">
          <h1>{{page.title}}</h1>
          {{ content }}
        </div>
        <div class="illustration">
          <img src="/assets/images/achievements/{{page.illustration}}" alt="">
        </div>
      </div>
    </main>

    {%- include footer.html -%}

  </body>
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="/assets/demo/demo.js"></script>
</html>
